:root {--font: sans-serif;}
span[style^="font-family:'problem"] {
    padding: 15px;
    border-radius: 4px;
    display: block;
    background-color: black;
    color: white;
    font-family: sans-serif !important; // fallback for old browsers
    font-family: var(--font) !important;
}

span[style^="font-family:'problem"] .latex,
span[style^="font-family:'problem"] .latexcenter,
span[style^="font-family:'problem"] .asy-image {
    filter: invert(1) hue-rotate(180deg);
}
