.aops-modal-frame:not(.cmty-posting-modal) {
    border-color: white;
}

.aops-modal-frame:not(.cmty-posting-modal) .aops-scroll-outer {
    box-shadow: none;
}
.aops-modal-content-wrapper {
    box-shadow: none;
}
