.entry h2, .blog-shout p, .author {
    color: transparent;
    transition: color .3s ease-in-out;
    margin-left: 8px;
}
.entry h2:hover, .blog-shout p:hover, .author:hover {
    color: initial;
}
.entry h2:hover strong, .blog-shout p:hover a, .author:hover strong {
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
}
.entry h2:before, .author:before {
    content: "L";
    color: initial;
    margin-right: 5px;
    font-family: AoPS;
}
.entry h2 strong, .blog-shout p a, .author strong {
    color: initial;
    display: inline-block;
    transform: translateX(-1.3em);
    -webkit-transform: translateX(-1.3em);
    -moz-transform: translateX(-1.3em);
    -o-transform: translateX(-1.3em);
    -ms-transform: translateX(-1.3em);
    transition: .2s ease-in-out;
}
