/**
* Blue.css by player01
*
* Goodbye.css (Mathlete2017) and Collaboration.css 
* (Zanderman, bestzack66, BlueJay43, Chocolatte, G.G.Otto, Paul10, player01, recoco, SparklyFlowers, TigerEye123, and eduD_looC)
*
* Credits to wstella for header text
*
* Copyright 2021 Nhv24/player01 under MIT
*
* NOTE: I am using :after and :before instead of the usual 
* ::after and ::before because of IE comptibility. 
**/

/** Import fonts  **/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/**  Definition of colors  **/
:root {
    --color-1: #12232E; /** Navigation bar color */
    --color-2: #007CC7; /* Header background color, poll bar color, shout number color */
    --color-3: #1464F4; /* Search button color, poll border */
    --color-4: #CAE1FF; /* Poll bar */
    --color-5: white; /* Header color, shout number color search button color */
    --nav: #101010;
}

/* No user select */
#navigation_box, #header h1 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  

/**  Base styles for alerts  **/
span[style^="font-family:'alert-dark"], 
span[style^="font-family:'alert-light"], 
span[style^="font-family:'alert-danger"], 
span[style^="font-family:'alert-warning"], 
span[style^="font-family:'alert-info"], 
span[style^="font-family:'alert-success"], 
span[style^="font-family:'alert-secondary"], 
span[style^="font-family:'alert-primary"] {
    padding: 15px;
    margin: 15px;
    display: block;
    border-radius: 4px;
    border: 1px solid transparent;
    font-family: 'Open Sans', sans-serif !important;
}
span[style^="font-family:'alert-dark"] a, 
span[style^="font-family:'alert-light"] a, 
span[style^="font-family:'alert-danger"] a, 
span[style^="font-family:'alert-warning"] a, 
span[style^="font-family:'alert-info"] a, 
span[style^="font-family:'alert-success"] a, 
span[style^="font-family:'alert-secondary"] a, 
span[style^="font-family:'alert-primary"] a {
    font-weight: 700;
}

span[style^="font-family:'alert-primary"] {
    color: #084298;
    background-color: #cfe2ff;
    border-color: #b6d4fe;
}

span[style^="font-family:'alert-secondary"] {
    color: #41464b;
    background-color: #e2e3e5;
    border-color: #d3d6d8;
}

span[style^="font-family:'alert-success"] {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}

span[style^="font-family:'alert-info"] {
    color: #055160;
    background-color: #cff4fc;
    border-color: #b6effb;
}

span[style^="font-family:'alert-warning"] {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
}

span[style^="font-family:'alert-danger"] {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

span[style^="font-family:'alert-light"] {
    color: #636464;
    background-color: #fdfdfe;
    border-color: #fdfdfe;
}

span[style^="font-family:'alert-dark"] {
    color: #141619;
    background-color: #d3d3d4;
    border-color: #bcbebf;
}

/**   Font  **/
/* Credits to pog */
body, .btn-primary, #navigation_box a, 
.inputbox, input.button2, .cmty-post-textarea, 
.cmty-subject-input, .cmty-items-input.ui-autocomplete-input, 
div.cmty-item-tag, button.btn.btn-run, button.btn.btn-reset,
button.btn.btn-link.btn-pop, div.cmty-topic-cell-post, 
div.cmty-topic-cell-subtitle, 
span.cmty-color-main.cmty-topic-cell-username, 
div.cmty-topic-cell-subject, div.cmty-topic-watchers, 
div.cmty-topic-cell-left-bottom, div.cmty-topic-cell-source, 
div.cmty-topic-cell-second-row, select, 
input#login-username.form-control, 
input#login-password.form-control, button#login-cancel-button.btn, 
div.cmty-topic-subject, input.cmty-submit-button.btn.btn-primary, 
textarea, .widget-content, .cmty-poll-question {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.8px; 
    word-spacing: 1.6px;
    font-size: 16px;
}
input.cmty-submit-button.btn.btn-primary {
    font-size: 12px;
}

/**  Wrapper  **/
#wrapper {
    width: 90%;
}

/**  Navigation bar  **/
#navigation_box {
    position: fixed;
    height: 44px;
    background-color: var(--color-1);
}
#navigation_box a {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 40px;
    transition: 1s;
}
#navigation_box a:hover {
    background-color: var(--nav);
    border-radius: 5px;
    transition: .5s;
}

/**  Header  **/
#header {
    border-bottom: none;
    height: 40vh;
    background-color: var(--color-2);
}
#header h1 {
    position: relative;
    top: 4vh;
    font-size: 90%;
    transition: 1s;
    font-weight: 700;
    color: var(--color-5);
    padding-top: 10vh;
    /* Credits to wstella */
    text-shadow: 0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.1),
        0 1px 3px rgba(0,0,0,.3),
        0 3px 5px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.25),
        0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);
}
#header h1:hover {
    text-decoration: none;
    cursor: default;
    font-size: 115%;
    transition: 1s;
}

/**  Body  **/
body {
    background: url('https://artofproblemsolving.com/assets/images/top/pattern-online-gray.png');
    background-attachment: fixed;
}

/**  Links  **/
a:link, a:visited, a:active {
    color: #2188e0;
}

/**  Misc  **/
#main {
    width: calc(100% - 258px);
    width: -webkit-calc(100% - 258px);
    padding: 10px;
}
.inputbox:not(#blog_keywords) {
    padding: 5px;
    width: 100%;
    transition: .7s;
}
.inputbox:not(#blog_keywords):hover {
    box-shadow: 0 0 1em rgba( 0, 0, 0, 0.2 );
    transition: .7s;
    border: none;
}
#wrapper {
    border: none;
}

/**  Archive row  **/
.archive-row {
    border: none;
}
.archive-row:hover {
    border: 2px solid lightgray;
    border-radius: 5px;
    margin: -2px;
}

/**   Comments   **/
div.comment {
    background-color: transparent;
    box-shadow: none;
    border: none;
    transition: .2s;
}

/**  Entry  **/
div.entrywrap {
    background-color: white;
    border: none;
    box-shadow: none;
    transition: .2s;
}

/**  Entry and Comment hover  **/
div.comment:hover, div.entrywrap:hover {
    box-shadow: 0 0 5px 2px lightgray;
    border-radius: 3px;
    transition: .2s;
}
div.comment:hover {
    padding: 0.5rem;
    transition: .2s;
}

/**  Comments  **/
.post-replies, .post-comment, .blog-edit-post, .blog-moderate-topic, .blog-delete-post, .blog-report-post {
    border: 1px solid var(--color-3);
    border-radius: 2px;
    padding: 2px;
    transition: .2s;
}
.post-replies:hover, .post-comment:hover, .blog-edit-post:hover,
.blog-moderate-topic:hover, .blog-delete-post:hover, .blog-report-post:hover {
    padding: 1px;
    transition: .2s;
    margin: 1px;
}

/**  Lists  **/
ul {
    list-style-type: disc;
}

/**  Polls  **/
.cmty-poll-display {
    background-color: #e8e8e8;
    border: 2px solid var(--color-3);
    border-radius: 2px;
    box-shadow: 3px 3px 5px black;
    margin-bottom: 5px;
}
.cmty-poll-result-bar {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    background-color: var(--color-4);
    transition: .2s;
}
.cmty-poll-result-bar:hover {
    box-shadow: 1px 1px 2px var(--color-2);
    transition: .2s;
}

/**  Tips  **/
div.cmty-tip-triangle{
    display: none !important;
}

/* Code */
code[class*="language-"] {
    color: #333;
}

/**   Curved edges  **/
.blog-shout-wrapper, .blog-tags-wrapper, .blog-shout, .inputbox:not(#blog_keywords) {
    border-radius: 10px;
}

/* Shouts scrollbar patch by happycupcake */
.blog-shout-wrapper > .aops-scroll-outer > .aops-scroll-inner {
  scrollbar-width: none;
}
.blog-shout-wrapper > .aops-scroll-outer > .aops-scroll-inner::-webkit-scrollbar {
  width: 0px;
}

/*  Feed username color patch  */
.cmty-post .cmty-user-admin a,.cmty-post .cmty-user-admin:before{color: #009fad !important;}
.cmty-forum-admin a{color: #900 !important;}
.cmty-forum-mod a{color: #090 !important;}

/*  Search patch  
Code taken from AoPS user monks  */
#search-widget > div {
    background-color: transparent;
}
#search-widget fieldset {
    border: none;
}
.widget-settings {
    display: none;
}
.search {
    height: 25px;
    border-radius: 5px;
}
.button2 {
    border-radius: 5px;
    width: 200px;
    height: 25px;
    border: none;
    background-color: var(--color-3);
    color: var(--color-5);
}
.button2:hover {
    border: 1px solid var(--color-4);
}

/*  Image patch  */
img#post-new-entry-img, .month-image, div.entry h2 img, p.author img {
  display: none;
}

/**  Widget title patch  **/
div.widget-title {
    font-size: 105%;
}

/**  Get rid of underlines  **/
.blog-report-post, .blog-delete-post, .blog-edit-post, .blog-moderate-topic, a.post-comment, a.post-replies {
    text-decoration: none !important;
}

/**  Entry patch  **/
div #navigation_box, div.entry {
  border: none;
}

/** Post button patch  **/
#post-new-entry:before {
    font-family: AoPS;
    content: 'V ';
}
#post-new-entry {
    color: var(--color-4);
    padding: 4px;
    border-radius: 3px;
    background-color: var(--color-2);
    transition: .2s;
}
#post-new-entry:hover {
    color: var(--color-2);
    background-color: var(--color-4);
    transition: .2s;
}

/**  Get rid of things  **/
.cmty-post-edit-info, #charsleft {
    display: none !important;
}

/**  Shouts  **/
.blog-shout.row1 {
    background-color: var(--color-4);
}
.blog-shout.row2 {
    background-color: var(--color-5);
}
.blog-num-shouts {
    background-color: var(--color-2);
    color: var(--color-5);
    border-radius: 2px;
    padding: 5px;
    margin: 5px;
    position: relative;
    top: 5px;
    margin-bottom: 5px;
}

/**   Make the comment background white   **/
div.comment.row1, div.comment.row2 {
    background-color: transparent;
}

/**   Submit button in shout  **/
#submit {
    background-color: #efefef;
    padding: 3px 5px;
    border-radius: 2px;
    margin: 4px;
    color: #fff;
    background-color: #1b365d;
    position: relative;
    right: 10px;
}
#submit:hover {
    background-color: #135b7b;
}

/**  Posting modal thing  **/
.aops-modal-frame {
    border-radius: 5px;
}

/**  Mobile support  **/
@media only screen and (max-width: 820px) {
    div#header h1 {
        font-size: 90%;
        line-height: 100px;
        z-index: 1;
        padding-top: 40vh;
    }
    #header {
        /**  Make header bigger  **/
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 0;
    }

    #navigation_box a {
        text-align: center;
        line-height: 25px;
        padding-top: 2px;
    }
    #navigation_box {
        height: 30px;
    }
    #main {
        width: 100%;
        padding: 10px;
        position: relative;
        background-color: white;
        margin-top: 100vh;
        z-index: 2;
    }
    #wrapper {
        width: 100%;
    }

    p.description {
        padding-top: 20px;
    }

    div#left_navigation_box {
        display: none;
    }

    /**  Side widget taken and modified from NMK  **/
    #side {
        position: fixed;
        top: 0;
        left: -20em;
        width: 20em;
        height: 100%;
        padding: 0 2em;
        z-index: 100;
        overflow-y: scroll;
        -webkit-transition-property: left;
        transition-property: left;
        -webkit-transition: .9s ease;
        transition: .9s ease;
        background-color: white;
        border: 1px solid lightgray;
    }
 
    #side:after {
        content: "»";
        position: fixed;
        top: 1.5em;
        left: 0;
        background: #e8eef0;
        color: #808080;
        display: block;
        font-size: 2em;
        padding: 0.35em 0.4em;
        height: 1.5em;
        width: 1.5em;
        border-radius: 0 1em 1em 0;
        -webkit-transition-property: left;
        transition-property: left;
        -webkit-transition: .7s ease;
        transition: .7s ease;
    }

    #side:hover {
        left: 0;
        -webkit-transition: .9s ease;
        transition: .9s ease;
    }
 
    #side:hover:after {
        left: -1.5em;
        -webkit-transition: .7s ease;
        transition: .7s ease;
    }
 
    /* widgets */
    #side > div {
        margin: 0 !important;
        padding: 2em 0 !important;
        border-bottom: 1px solid #909090;
    }
 
    #side > div:last-child {
        border-bottom: 0;
    }
    /*  End of code taken from NMK  */
}

@media only screen and (max-width: 450px), 
only screen and (max-height: 750px) {
    #main {
        padding: 5px;
    }
    #header h1 {
        font-size: 80%;
        padding-top: 35vh;
    }
    #header h1:hover {
        font-size: 80% !important;
    }
}

/**   Credits   **/
#content:after, #header:after {
    content: "CSS made by player01";
    margin-top: 5px;
    text-align: center;
    color: lightgray;
    display: block;
    margin-bottom: 5px;
    font-size: 13pt !important;
}
