pre[style="font-family:monospace;background-color: #f4f6f4;padding:10px;"], pre.language-none {
    border-radius: 3px;
    padding: 11px !important; /* Override inline styles */
    margin: 0;
    background-color: #161b22 !important; /* Override inline styles */
}
pre[style="font-family:monospace;background-color: #f4f6f4;padding:10px;"] span[style^="color: black;"],
pre[style="font-family:monospace;background-color: #f4f6f4;padding:10px;"] span[style^="color: #000000;"],
pre[style="font-family:monospace;background-color: #f4f6f4;padding:10px;"] span[style^="color: #000;"],
pre[style="font-family:monospace;background-color: #f4f6f4;padding:10px;"] span[style^="color: #0000;"] {
    color: white !important;
}
pre[style="font-family:monospace;background-color: #f4f6f4;padding:10px;"] span[style^="color: #483d8b;"] {
    color: #00aa00 !important;
}
.python span[style="color: #008000;"] {
    color: #900090 !important;
}
.CodeMirror-lines, .pywindow .python ol {
    background-color: #161b22;
}
pre.javascript span[style^="color: #000066;"] {
    color: #ff7b72 !important;
}
pre[style="font-family:monospace;background-color: #f4f6f4;padding:10px;"]:not(pre.javascript) span[style^="color: #0000dd;"],
pre[style="font-family:monospace;background-color: #f4f6f4;padding:10px;"]:not(pre.javascript) span[style^="color: #000066;"],
pre[style="font-family:monospace;background-color: #f4f6f4;padding:10px;"]:not(pre.javascript) span[style^="color: #000099;"],
pre.javascript span[style^="color: #003366;"],
pre.css span[style*="bold"] {
    color: #79c0ff !important;
}
/* Strings */
pre.c span[style^="color: #ff0000"], pre.javascript span[style^="color: #3366CC;"] {
    color: #ff8100 !important;
}
