$char-color: none;
$property-color: none;
$class-color: none;
$id-color: none;
$function-color: none;
$num-color: none;
$string-color: none;
$numvalue-color: none;
$value-color: none;
$pseudo-color: none;
