/**
* Code by player01
*
* Copyright 2021 player01/Nhv24 under MIT
**/

body {
    animation-name: hue;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes hue {
    from {filter: hue-rotate(0deg);}
    to {filter: hue-rotate(359deg);}
}
