body {
    animation-name: hue;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes hue {
    from {filter: hue-rotate(0deg);}
    to {filter: hue-rotate(359deg);}
}
